{% extends "index.html" %}
{% block page_title %}
Dentist Registration
{% endblock page_title %}

{% block h1_banner %}
New Dentist
{% endblock h1_banner %}
{% block p_banner %}{% endblock p_banner %}

{% block h2_section %}
Complete the form! 
{% endblock h2_section %}
{% block div_section %}
<form method="POST" action={% url "create_dentist" %}>
    {% csrf_token %}
    {{form}}         
    <br>
    <!-- Submit Button-->
    <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Submit</button></div>
</form>
{% endblock div_section %}